adf/pipeline/PL_EIA_to_Staging.json
{
	"name": "PL_EIA_to_Staging",
	"properties": {
		"description": "Fetches daily WTI oil prices from EIA REST API and loads into staging.OilPrice. API key fetched from Key Vault at runtime - zero hardcoded secrets.",
		"activities": [
			{
				"name": "GetEIAKey",
				"description": "Fetch EIA API key from Azure Key Vault using Managed Identity",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 2,
					"retryIntervalInSeconds": 30
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://aer-oilgas-kv.vault.azure.net/secrets/eia-api-key?api-version=7.0')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Copy EIA to SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetEIAKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "IngestionDate",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE staging.OilPrice",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['period']"
								},
								"sink": {
									"name": "period",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['value']"
								},
								"sink": {
									"name": "value",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['series-description']"
								},
								"sink": {
									"name": "series-description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['product-name']"
								},
								"sink": {
									"name": "product-name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['units']"
								},
								"sink": {
									"name": "units",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['response']['data']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EIA_REST_Source",
						"type": "DatasetReference",
						"parameters": {
							"relativeUrl": "@concat('v2/petroleum/pri/spt/data/?api_key=', activity('GetEIAKey').output.value, '&frequency=daily&data[0]=value&facets[series][]=RWTC&sort[0][column]=period&sort[0][direction]=desc&length=5000')"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AzureSQL_OilPrice_Sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy EIA Data to Adls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetEIAKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 2,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"additionalColumns": [
							{
								"name": "IngestionDate",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['period']"
								},
								"sink": {
									"name": "period",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['value']"
								},
								"sink": {
									"name": "value",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['series-description']"
								},
								"sink": {
									"name": "series-description",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['product-name']"
								},
								"sink": {
									"name": "product-name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['units']"
								},
								"sink": {
									"name": "units",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['response']['data']"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_EIA_REST_Source",
						"type": "DatasetReference",
						"parameters": {
							"relativeUrl": "@concat(   'v2/petroleum/pri/spt/data/?api_key=',   activity('GetEIAKey').output.value,   '&frequency=daily&data[0]=value&facets[series][]=RWTC' )"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Bronze_OilPrice",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": "@concat('bronze/oilprice/', formatDateTime(utcnow(),'yyyy-MM-dd'))",
							"FileName": "@concat('OilPrice_', formatDateTime(utcnow(),'yyyy-MM-dd'), '.parquet')"
						}
					}
				]
			}
		],
		"parameters": {
			"EIA_ApiKey": {
				"type": "string"
			},
			"EIA_PageSize": {
				"type": "int",
				"defaultValue": 5000
			}
		},
		"variables": {
			"v_EIA_ApiKey": {
				"type": "String"
			}
		},
		"annotations": [
			"EIA",
			"WTI",
			"OilPrice",
			"REST",
			"KeyVault"
		],
		"lastPublishTime": "2026-04-19T21:18:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}