aer-oilgas-adf/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "aer-oilgas-adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "silver/clean",
						"fileSystem": "aer-og-data"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "WellID",
						"type": "UTF8"
					},
					{
						"name": "WellKeyID",
						"type": "UTF8"
					},
					{
						"name": "WellName",
						"type": "UTF8"
					},
					{
						"name": "FieldCode",
						"type": "UTF8"
					},
					{
						"name": "PoolCode",
						"type": "UTF8"
					},
					{
						"name": "LicenceNumber",
						"type": "UTF8"
					},
					{
						"name": "LicenceStatus",
						"type": "UTF8"
					},
					{
						"name": "LicenceIssueDate",
						"type": "DATE"
					},
					{
						"name": "LicenseeCode",
						"type": "UTF8"
					},
					{
						"name": "OperatorCode",
						"type": "UTF8"
					},
					{
						"name": "FinDrlDate",
						"type": "DATE"
					},
					{
						"name": "WellTotalDepth",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "WellStatCode",
						"type": "UTF8"
					},
					{
						"name": "WellStatDate",
						"type": "DATE"
					},
					{
						"name": "FluidDesc",
						"type": "UTF8"
					},
					{
						"name": "ModeDesc",
						"type": "UTF8"
					},
					{
						"name": "TypeDesc",
						"type": "UTF8"
					},
					{
						"name": "StructureDesc",
						"type": "UTF8"
					},
					{
						"name": "BatchID",
						"type": "UTF8"
					},
					{
						"name": "IngestionDate",
						"type": "TIMESTAMP_MICROS"
					},
					{
						"name": "SourceFile",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Staging_OilPrice_SQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "staging",
					"table": "OilPrice"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Staging_Silver_SQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "WellID",
						"type": "nvarchar"
					},
					{
						"name": "WellKeyID",
						"type": "nvarchar"
					},
					{
						"name": "WellName",
						"type": "nvarchar"
					},
					{
						"name": "FieldCode",
						"type": "nvarchar"
					},
					{
						"name": "PoolCode",
						"type": "nvarchar"
					},
					{
						"name": "LicenceNumber",
						"type": "nvarchar"
					},
					{
						"name": "LicenceStatus",
						"type": "nvarchar"
					},
					{
						"name": "LicenceIssueDate",
						"type": "date"
					},
					{
						"name": "LicenseeCode",
						"type": "nvarchar"
					},
					{
						"name": "OperatorCode",
						"type": "nvarchar"
					},
					{
						"name": "FinDrlDate",
						"type": "date"
					},
					{
						"name": "WellTotalDepth",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "WellStatCode",
						"type": "nvarchar"
					},
					{
						"name": "WellStatDate",
						"type": "date"
					},
					{
						"name": "FluidDesc",
						"type": "nvarchar"
					},
					{
						"name": "ModeDesc",
						"type": "nvarchar"
					},
					{
						"name": "TypeDesc",
						"type": "nvarchar"
					},
					{
						"name": "StructureDesc",
						"type": "nvarchar"
					},
					{
						"name": "BatchID",
						"type": "nvarchar"
					},
					{
						"name": "IngestionDate",
						"type": "datetime2",
						"scale": 7
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "Silver_Wells"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Archive_Gold_to_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Archive_DimOperator",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM gold.Dim_Operator WHERE Is_Current=1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AzureSQL_Gold",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Archive_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"FolderPath": {
										"value": "gold/dim_operator/@{formatDateTime(utcNow(), 'yyyy-MM-dd')}/",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Archive_DimWell",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM gold.Dim_Well WHERE Is_Current=1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AzureSQL_Gold",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Archive_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"FolderPath": {
										"value": "gold/dim_well/@{formatDateTime(utcNow(), 'yyyy-MM-dd')}/",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Archive_FactWellSnapshot",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM gold.Fact_WellSnapshot WHERE SnapshotDate=CAST(GETDATE() AS DATE)",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AzureSQL_Gold",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Archive_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"FolderPath": {
										"value": "gold/fact_wellsnapshot/@{formatDateTime(utcNow(), 'yyyy-MM-dd')}/",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Archive_DimLicenceStatus",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM gold.Dim_LicenceStatus",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AzureSQL_Gold",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Archive_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"FolderPath": {
										"value": "gold/dim_licencestatus/@{formatDateTime(utcNow(), 'yyyy-MM-dd')}/",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Archive_DimWellType",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM gold.Dim_WellType",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_AzureSQL_Gold",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_Archive_Parquet",
								"type": "DatasetReference",
								"parameters": {
									"FolderPath": {
										"value": "gold/dim_welltype/@{formatDateTime(utcNow(), 'yyyy-MM-dd')}/",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-20T02:12:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_EIA_to_Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Fetches daily WTI oil prices from EIA REST API and loads into staging.OilPrice. API key fetched from Key Vault at runtime - zero hardcoded secrets.",
				"activities": [
					{
						"name": "GetEIAKey",
						"description": "Fetch EIA API key from Azure Key Vault using Managed Identity",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:01:00",
							"retry": 2,
							"retryIntervalInSeconds": 30
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": {
								"value": "@concat('https://aer-oilgas-kv.vault.azure.net/secrets/eia-api-key?api-version=7.0')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Copy EIA to SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetEIAKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 2,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "IngestionDate",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE staging.OilPrice",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['period']"
										},
										"sink": {
											"name": "period",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['value']"
										},
										"sink": {
											"name": "value",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['series-description']"
										},
										"sink": {
											"name": "series-description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['product-name']"
										},
										"sink": {
											"name": "product-name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['units']"
										},
										"sink": {
											"name": "units",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['response']['data']"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_EIA_REST_Source",
								"type": "DatasetReference",
								"parameters": {
									"relativeUrl": "@concat('v2/petroleum/pri/spt/data/?api_key=', activity('GetEIAKey').output.value, '&frequency=daily&data[0]=value&facets[series][]=RWTC&sort[0][column]=period&sort[0][direction]=desc&length=5000')"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AzureSQL_OilPrice_Sink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy EIA Data to Adls",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetEIAKey",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 2,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "IngestionDate",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								],
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['period']"
										},
										"sink": {
											"name": "period",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['value']"
										},
										"sink": {
											"name": "value",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['series-description']"
										},
										"sink": {
											"name": "series-description",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['product-name']"
										},
										"sink": {
											"name": "product-name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['units']"
										},
										"sink": {
											"name": "units",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['response']['data']"
							}
						},
						"inputs": [
							{
								"referenceName": "DS_EIA_REST_Source",
								"type": "DatasetReference",
								"parameters": {
									"relativeUrl": "@concat(   'v2/petroleum/pri/spt/data/?api_key=',   activity('GetEIAKey').output.value,   '&frequency=daily&data[0]=value&facets[series][]=RWTC' )"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Bronze_OilPrice",
								"type": "DatasetReference",
								"parameters": {
									"FolderPath": "@concat('bronze/oilprice/', formatDateTime(utcnow(),'yyyy-MM-dd'))",
									"FileName": "@concat('OilPrice_', formatDateTime(utcnow(),'yyyy-MM-dd'), '.parquet')"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"EIA_ApiKey": {
						"type": "string"
					},
					"EIA_PageSize": {
						"type": "int",
						"defaultValue": 5000
					}
				},
				"variables": {
					"v_EIA_ApiKey": {
						"type": "String"
					}
				},
				"annotations": [
					"EIA",
					"WTI",
					"OilPrice",
					"REST",
					"KeyVault"
				],
				"lastPublishTime": "2026-04-19T21:18:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ST37_to_Bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy OnPremData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT * FROM ',pipeline().parameters.SourceSchema,\n  '.',pipeline().parameters.SourceTable)\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_OnPrem_WellList",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Bronze_Well",
								"type": "DatasetReference",
								"parameters": {
									"FolderPath": {
										"value": "@concat('bronze/well/', formatDateTime(utcNow(),'yyyy-MM-dd'))",
										"type": "Expression"
									},
									"FileName": "@concat(pipeline().parameters.SourceTable, '_', formatDateTime(utcNow(),'yyyy-MM-dd'), '.parquet')"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "WellList"
					},
					"BatchID": {
						"type": "string",
						"defaultValue": "@concat('BATCH_',pipeline().RunId)"
					},
					"EIA_PageSize": {
						"type": "int",
						"defaultValue": 5000
					},
					"RunDate": {
						"type": "string",
						"defaultValue": "formatDateTime(utcnow(),'yyyy-MM-dd')"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-19T19:46:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Silver_to_Staging_SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ADLS Silver Parquet to Staging Sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@concat('silver/clean/', formatDateTime(utcnow(),'yyyy-MM-dd'))",
										"type": "Expression"
									},
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE staging.Silver_Wells",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "WellID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "WellID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WellKeyID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "WellKeyID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WellName",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "WellName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FieldCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "FieldCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PoolCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "PoolCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LicenceNumber",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "LicenceNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LicenceStatus",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "LicenceStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LicenceIssueDate",
											"type": "DateTime",
											"physicalType": "DATE"
										},
										"sink": {
											"name": "LicenceIssueDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "LicenseeCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "LicenseeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OperatorCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "OperatorCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FinDrlDate",
											"type": "DateTime",
											"physicalType": "DATE"
										},
										"sink": {
											"name": "FinDrlDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "WellTotalDepth",
											"type": "Decimal",
											"physicalType": "DECIMAL",
											"scale": 2,
											"precision": 10
										},
										"sink": {
											"name": "WellTotalDepth",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 10
										}
									},
									{
										"source": {
											"name": "WellStatCode",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "WellStatCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WellStatDate",
											"type": "DateTime",
											"physicalType": "DATE"
										},
										"sink": {
											"name": "WellStatDate",
											"type": "Date",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FluidDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "FluidDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ModeDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ModeDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TypeDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "TypeDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StructureDesc",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "StructureDesc",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BatchID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "BatchID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Silver_Parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Staging_Silver_SQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-19T23:04:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Silver_Parquet')]",
				"[concat(variables('factoryId'), '/datasets/DS_Staging_Silver_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Master_Orchestrator')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PLST37_to_Bronze",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_ST37_to_Bronze",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_EIA_to_Bronze",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_EIA_to_Staging",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PL_Bronze_to_Silver",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PLST37_to_Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Bronze_to_Silver_quarantine",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Bronze oil price to gold",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_EIA_to_Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Bronze_OilPrice_to_Gold",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "silver to staging sql",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PL_Bronze_to_Silver",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Bronze oil price to gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Silver_to_Staging_SQL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "SCD2 for gold",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "silver to staging sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_SCD2_MERGE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ADLS gold Archival Copy",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "SCD2 for gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Archive_Gold_to_ADLS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-20T02:12:31Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_ST37_to_Bronze')]",
				"[concat(variables('factoryId'), '/pipelines/PL_EIA_to_Staging')]",
				"[concat(variables('factoryId'), '/pipelines/PL_Silver_to_Staging_SQL')]",
				"[concat(variables('factoryId'), '/pipelines/PL_Archive_Gold_to_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TR_Daily_Schedule')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_Master_Orchestrator",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2026-04-19T01:00:00",
						"endTime": "2026-04-22T02:16:00",
						"timeZone": "Mountain Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Master_Orchestrator')]"
			]
		}
	]
}